
.completed{

    background-color: #c04444;
    padding:  20px;
    border-color: brown;
    border-radius: 20px;
    width :400px;
    height: 200px;
    justify-content: center;
    align-content: center;
    display: flex;
    
}

body{
    background-color: #f5f6fa;
}

.input{
    padding-bottom: 50px;
}


ul{
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
                      
}


