
div{

    background-Color: "#f2f2f2";
                    padding: 20;
                    border-Radius: 10;
                    width: 200;
                    justify-content: "center";
                    align-items: "center";
                    display: 'flexbox'
    
}

body{
    background-color: #f5f6fa;
}

.input{
    padding-bottom: 50px;
}


ul{
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
                      
}

h1{
    text-align: center;
}


.input{
    justify-content: center;
}